<div *ngIf="!todo.isEdit" (click)="toggleComplete(todo.id)">
  <div class="mr-2 d-inline" [ngClass]="{ 'completed': todo.completed }">{{todo.text}}</div>
  <div class="float-right">
    <button (click)="removeTodo(todo.id)" class="btn btn-danger mr-2">Delete</button>
    <button (click)="editTodo(todo.id, true)" class="btn btn-success">Edit</button>
  </div>
</div>
<div *ngIf="todo.isEdit" class="row">
  <div class="col-sm-6">
    <input 
      type="text" 
      (keyup.enter)="saveTodo(todo.id)"
      [(ngModel)]="todo.editText" 
      placeholder="todo" 
      class="form-control"
    />
  </div>
  <div class="col-sm-6">
    <button (click)="saveTodo(todo.id)" [disabled]="todo.editText === ''" class="btn btn-success mr-2">Save</button>
    <button (click)="editTodo(todo.id, false)" class="btn btn-secondary">Cancel</button>
  </div>
</div>